[submodule "sources_non_forked/rainbow_parentheses.vim"]
	path = sources_non_forked/rainbow_parentheses.vim
	url = https://github.com/junegunn/rainbow_parentheses.vim.git
[submodule "sources_non_forked/vim-tomorrow-theme"]
	path = sources_non_forked/vim-tomorrow-theme
	url = https://github.com/chriskempson/vim-tomorrow-theme.git
