[user]
	name = Florian Hassanen
	email = florian.hassanen@gmail.com
[merge]
	tool = vimdiff3
	conflictStyle = diff3
[pull]
	rebase = true
[push]
	default = simple
[core]
	excludesfile = ~/.global_gitignore
[sendemail]
	smtpencryption = tls
	smtpserver = smtp.gmail.com
	smtpuser = florian.hassanen@gmail.com
	smtpserverport = 587
[alias]
	diffc = diff --word-diff=color
[credential "https://github.com"]
	username = H4ssi
[rerere]
	enabled = true
	autoUpdate = true
[rebase]
	autoStash = true
	autoSquash = true
